@model IEnumerable<CrudAlumnos.Models.CGradoAlumno>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.GradoAlumno)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.GradoAlumno)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IDGrado }) |
            @Html.ActionLink("Details", "Details", new { id=item.IDGrado }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IDGrado })
        </td>
    </tr>
}

</table>
