@model CrudAlumnos.Models.Alumnos

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Alumnos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CGradoAlumno.IDGrado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CGradoAlumno.IDGrado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NombreAlumno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreAlumno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApelidoAlumno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApelidoAlumno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DireccionAlumno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DireccionAlumno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TelefonoAlumno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TelefonoAlumno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmailAlumno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailAlumno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaIngreso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaIngreso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HoraIngreso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoraIngreso)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
